<!DOCTYPE html>
<html lang="{{ LANG }}">
<head>
<meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
<title>{{ PAGE_TITLE }}</title>

<style type="text/css">
@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }
}

.row {
    width:100%;
    clear:right;
    box-sizing: border-box;
    clear: both;
}
.col-1 {
    float:left;
    width: calc(100%/12);
    height:100%;
    box-sizing: border-box;
    min-height: 1px;
}
.col-2 {
    float:left;
    width: calc(2*100%/12);
    height:100%;
    box-sizing: border-box;
    min-height: 1px;
}
.col-3 {
    float:left;
    width: calc(3*100%/12);
    height:100%;
    box-sizing: border-box;
    min-height: 1px;
}
.col-4 {
    float:left;
    width: calc(4*100%/12);
    height:100%;
    box-sizing: border-box;
    min-height: 1px;
}
.col-5 {
    float:left;
    width: calc(5*100%/12);
    height:100%;
    box-sizing: border-box;
    min-height: 1px;
}
.col-6 {
    float:left;
    width: calc(6*100%/12);
    height:100%;
    box-sizing: border-box;
    min-height: 1px;
}
.col-7 {
    float:left;
    width: calc(7*100%/12);
    height:100%;
    box-sizing: border-box;
    min-height: 1px;
}
.col-8 {
    float:left;
    width: calc(8*100%/12);
    height:100%;
    box-sizing: border-box;
    min-height: 1px;
}
.col-9 {
    float:left;
    width: calc(9*100%/12);
    height:100%;
    box-sizing: border-box;
    min-height: 1px;
}
.col-10 {
    float:left;
    width: calc(10*100%/12);
    height:100%;
    box-sizing: border-box;
    min-height: 1px;
}
.col-11 {
    float:left;
    width: calc(11*100%/12);
    height:100%;
    box-sizing: border-box;
    min-height: 1px;
}
.col-12 {
    float:left;
    width: 100%;
    height:100%;
    box-sizing: border-box;
    min-height: 1px;
}
body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
}
.page-header {
    width: 98%;
    display: table;
    box-sizing: border-box;
    margin-left: 1%;
    margin-right: 1%;
}
.page-header .title {
    font-size: 2em;
    padding: 0.2em;
    display: table-cell;
    float: none;
    box-sizing: border-box;
}
.page-header .datetime {
    font-size: 0.8em;
    display: table-cell;
    padding: 0.2em;
    float: none;
    vertical-align:middle;
    box-sizing: border-box;
}

table.parent-table {
    border: 1px black solid;
    border-collapse: collapse;
    width: 99%;
    box-sizing: border-box;
    table-layout: fixed;
    margin-top: 10px;
    margin-left: 1%;
    background: #fcfcfc none repeat scroll 0 0;
    page-break-inside: avoid;
}
table.sub-table, table.repdevstat-table {
    border-collapse: collapse;
    table-layout: fixed;
    box-sizing: border-box;
    margin-top: 5px;
    margin-left: 3%;
    width: 97%;
    text-align:center;
    page-break-inside: avoid;
}
td.table-heading {
    font-weight: bolder;
}
td.table-cell, td.table-heading {
    border: 1px green solid;
    border-collapse: collapse;
    max-width: 180px;
    padding: 3px;
    height: 1em !important;
    overflow: hidden;
    word-wrap: break-word;
}
.header-image {
    max-width: 1.5em;
    max-height: 1.5em;
    vertical-align: middle;
}
</style>

</head>
<body>
<div class="row">
    <div class="page-header">
          <div class="col-4 title">
         {%- if ICON_PATH is defined and ICON_PATH %}
             <img src='{{ ICON_PATH }}' class="header-image"/>
         {%- endif %}
             <strong>{{ PAGE_TITLE }}</strong>
          </div>
          <div class="col-4 settings no-print" style="font-size:80%;min-width:300px">
	          <label for="setFonts">{{ _("Report Font") }}</label>
	          <select id="setFonts" onchange="onChangeFont();">
	            <option>Verdana, Geneva, sans-serif</option>
	            <option>"Trebuchet MS", Helvetica, sans-serif</option>
	            <option>Tahoma, Geneva, sans-serif</option>
	            <option>"Lucida Sans Unicode", "Lucida Grande", sans-serif</option>
	            <option>Arial, Helvetica, sans-serif</option>
	            <option>"Courier New", Courier, monospace</option>
	            <option>"Lucida Console", Monaco, monospace</option>
	            <option>"Times New Roman", Times, serif</option>
	            <option>Georgia, serif</option>
	          </select>
	          <br>
	          <label title="{{ _('Hide device record table while printing') }}">
	           <input type="checkbox" id="setSuppMain" onchange="onChangeSuppress(this);">{{ _("Suppress Device Record Table") }}
	          </label>
	          <br>
	          <label title="{{ _('Hide calibration history table while printing') }}">
               <input type="checkbox" id="setSuppSub" onchange="onChangeSuppress(this);">{{ _("Suppress Calibration History Table") }}
              </label>
              <br>
              <label title="{{ _('Hide device status duration table while printing') }}">
               <input type="checkbox" id="setSuppDevStat" onchange="onChangeSuppress(this);">{{ _("Suppress Device Status Duration Table") }}
              </label>
	          <script>
	            function onChangeFont() {
	                var newFont=document.getElementById("setFonts").value;
	                if(newFont)
	                    document.body.style.fontFamily=newFont;              
	            }
	            function onChangeSuppress(source) {
	                var objs;
	                if(source.id==="setSuppMain") {
	                    objs=document.querySelectorAll(".parent-table");	                    
	                } else if(source.id==="setSuppSub") {
	                    objs=document.querySelectorAll(".sub-table");
	                } else if(source.id==="setSuppDevStat") {
	                    objs=document.querySelectorAll(".repdevstat-table");
	                }
	                for(i=0;i<objs.length;i++) {
                        if(source.checked) {
                            objs[i].className+=" no-print";
                        } else {
                            objs[i].className=objs[i].className.replace("no-print","").trim();
                        }
                    }
	            }
	          </script>
          </div>
          <div class="col-4 datetime">{{ DATE_TIME }}</div>
  </div>
</div>
{% for mainRecord in mainRecords %}
  <div class="row">
     <div class="col-12">
         <table class="parent-table">
             <tr class="table-row">
                 <td class="table-heading">{{ _("Registry No") }}</td>
                 <td class="table-cell">{{ mainRecord["registryNo"]|fix_none }}</td>
                 <td class="table-heading">{{ _("Device Name") }}</td>
                   <td class="table-cell">{{ mainRecord["deviceName"]|fix_none }}</td>
             </tr>
             <tr class="table-row">
                 <td class="table-heading">{{ _("Device Manufacturer") }}</td>
                   <td class="table-cell">{{ mainRecord["deviceManuf"]|fix_none }}</td>
                 <td class="table-heading">{{ _("Manufacturer Serial No") }}</td>
                   <td class="table-cell">{{ mainRecord["manufSerialNo"]|fix_none }}</td>
             </tr>
             <tr class="table-row">
                 <td class="table-heading">{{ _("Device Feature") }}</td>
                   <td class="table-cell">{{ mainRecord["features"]|fix_none }}</td>
                   <td class="table-heading">{{ _("Device Status") }}</td>
                   <td class="table-cell">{{ mainRecord["status"]|fix_none }}</td>
             </tr>
             <tr class="table-row">
                   <td class="table-heading">{{ _("Next Calibration Date") }}</td>
                   <td class="table-cell">{{ mainRecord["comingDate"]|fix_dt }}</td>
                   <td class="table-heading">{{ _("Device Owner") }}</td>
                   <td class="table-cell">{{ mainRecord["owner"]|fix_none }}</td>
               </tr>
               <tr class="table-row">
                   <td class="table-heading">{{ _("Description") }}</td>
                   <td class="table-cell" colspan="3">{{ mainRecord["description"]|fix_none }}</td>
               </tr>
               {% if mainRecord["IntValue"] is defined %}
               <tr class="table-row">
                   <td class="table-heading">{{ mainRecord.label_dict["IntLabel"]|fix_none }}</td>
                   <td class="table-cell" colspan="3">{{ mainRecord["IntValue"]|fix_none }}</td>
               </tr>
               {% endif %}
               {% if mainRecord["TextValue1"] %}
               <tr class="table-row">
                   <td class="table-heading">{{ mainRecord.label_dict["TextLabel1"]|fix_none }}</td>
                   <td class="table-cell" colspan="3">{{ mainRecord["TextValue1"]|fix_none }}</td>
               </tr>
               {% endif %}
               {% if mainRecord["TextValue2"] %}
               <tr class="table-row">
                   <td class="table-heading">{{ mainRecord.label_dict["TextLabel2"]|fix_none }}</td>
                   <td class="table-cell" colspan="3">{{ mainRecord["TextValue2"]|fix_none }}</td>
               </tr>
               {% endif %}
               {% if mainRecord["DateValue"] %}
               <tr class="table-row">
                   <td class="table-heading">{{ mainRecord.label_dict["DateLabel"]|fix_none }}</td>
                   <td class="table-cell" colspan="3">{{ mainRecord["DateValue"]|fix_dt }}</td>
               </tr>
               {% endif %}
         </table>
         {% if mainRecord.sub|length>0 %}
             <table class="sub-table">
                <caption>{{ _("Calibration History") }}</caption>
                  <tr>
                    <td class="table-heading" style="width:100px;">{{ _("Registry No") }}</td>
                    <td class="table-heading">{{ _("Planned Calibration Date") }}</td>
                    <td class="table-heading">{{ _("Realized Calibration Date") }}</td>
                    <td class="table-heading">{{ _("Report No") }}</td>
                    <td class="table-heading">{{ _("Method") }}</td>
                    <td class="table-heading">{{ _("Result") }}</td>
                    <td class="table-heading">{{ _("File Path") }}</td>
                  </tr>
             {% for subrec in mainRecord.sub %}
                  <tr>
                    {% if loop.index==1 %}
                    <td class="table-heading" rowspan="{{ mainRecord.sub|length }}">
                    {{ mainRecord["registryNo"] }}</td>
                    {% endif %}
                    <td class="table-cell">{{ subrec["plannedDate"]|fix_dt }}</td>
                    <td class="table-cell">{{ subrec["realizedDate"]|fix_dt }}</td>
                    <td class="table-cell">{{ subrec["trackingNo"]|fix_none }}</td>
                    <td class="table-cell">{{ subrec["method"]|fix_none }}</td>
                    <td class="table-cell">{{ subrec["result"]|fix_none }}</td>
                    <td class="table-cell">
                    <a href="{{ subrec['path']|fix_none|fix_file_path|e }}" target="_blank">
                    {{ subrec['path']|fix_none|fix_basename }}</a>
                    </td>
                  </tr>
             {% endfor %}
             </table>
        {% endif %}
             {% if mainRecord.repdevstat|length>0 %}
                <table class="repdevstat-table">
                    <caption>{{ _("Device Status Duration Report") }}</caption>
                    <tr>
                        <td class="table-heading" style="width:100px;">{{ _("Registry No") }}</td>
	                    <td class="table-heading">{{ _("Status") }}</td>
	                    <td class="table-heading">{{ _("Timestamp1") }}</td>
	                    <td class="table-heading">{{ _("Timestamp2") }}</td>
	                    <td class="table-heading">{{ _("Status Duration (days)") }}</td>
                    </tr>
                    {% for repdevstat in mainRecord.repdevstat %}
                    <tr>
                        {% if loop.index==1 %}
	                    <td class="table-heading" rowspan="{{ mainRecord.repdevstat|length }}">
	                    {{ repdevstat["registryNo"] }}</td>
	                    {% endif %}
	                    <td class="table-cell">{{ repdevstat["status"]|fix_none }}</td>
	                    <td class="table-cell">{{ repdevstat["timestamp1"]|fix_ts }}</td>
	                    <td class="table-cell">{{ repdevstat["timestamp2"]|fix_ts }}</td>
	                    <td class="table-cell">{{ repdevstat["status_duration_day"]|fix_none }}</td>
	                </tr>
                    {% endfor %}
                </table>
            {% endif %}
     </div>
  </div>
{% endfor %}
</body>
</html>
